@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif, Helvetica,
        sans-serif;
}
/*Burger menu fix*/
.nav-bar2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
    margin-top: 30px;
    display: none;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-bar2 img {
    display: flex;
    align-items: flex-start;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.menu-icon{
    font-size: 85px;
    color: tomato;
    cursor: pointer;
    display: none;
    
}



/*Burger menu fix end*/

/*NAV-BAR*/
.nav-bar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
    margin-top: 30px;
}
.nav-bar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.nav-links1 a,
.nav-links2 a {
    text-decoration: none;
    color: tomato;
    margin: 0 10px;
    font-size: 1.9rem;
    margin-left: 60px;
    margin-right: 60px;
    font-weight: bold;
}
.nav-links1 a:hover,
.nav-links2 a:hover {
    border-bottom: 2px solid white;
}
/*--------*/

/*HOMEPAGE*/
#home-section {
    position: relative;
    width: 100%;
}
#home-section video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(4px);
}
.overlay-text h1 {
    font-size: 8rem;
    color: white;
    font-family: "Hina Mincho", serif;
    margin-bottom: 150px;
}
.overlay-text a {
    border: 2px solid tomato;
    border-radius: 7px;
    text-decoration: none;
    color: tomato;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.overlay-text a:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}
.typing-animation {
    animation: homepage-typing 2s steps(14);
    animation-fill-mode: forwards;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    border-right: 5px solid white;
    width: 14ch;
}

/*-------*/

/*Services*/
#service-section {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: burlywood;
}
.service-image-container {
    width: 50%;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
}
.service-text-container {
    background-color: #deb887;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
.service-text-container h2 {
    font-family: "Hina Mincho", serif;
    font-size: 75px;
    margin-bottom: 10px;
    z-index: 2;
}
.service-text-container table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
.service-text-container td {
    text-align: left;
    padding: 10px 50px;
    font-size: 2.5rem;
    font-family: "Hina Mincho", serif;
}
.service-text-container tr:nth-child(even) {
    background-color: #f2ca96;
}
#service-section a {
    text-decoration: none;
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#service-section i {
    margin-left: 5px;
}
#service-section a:hover {
    margin-left: 20px;
}

.service-animated-razor img {
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 600px;
    animation-name: straight-razor-shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*--- Service media query starts here*/
@media screen and (max-width:800px) {
    #service-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        background-color: burlywood;
    }
    .service-text-container h2 {
        font-family: "Hina Mincho", serif;
        font-size: 45px;
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    .service-text-container {
        background-color: #deb887;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        position: relative;
        text-align: center;
    }
    .service-image-container {
        width: 100%;
        overflow: hidden;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .service-image-container img{
        width: 100%;
        height: auto;
    }
    .service-animated-razor img {
        width: 50px;
        height: 50px;
        left: 110%;
    }
    .service-text-container table {
        margin-bottom: 18%;
    }

}
/*--- Service media query starts here*/
/*-------*/


/*---ABOOUT SECTION STARTS HERE----*/

#about-section {
    width: 98vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.super-card-container {
    display: flex;
}
.card-container {
    width: 300px;
    height: auto;
    margin: 2%;
    padding-bottom: 5px;
    margin-top: 10%;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 2;
}
.card-container:hover {
    transform: scale(1.02);
}
.card-image {
    width: 300px;
    height: 26vh;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}
.card-image-brian {
    transform: scale(1.3);
    margin-right: 40px;
}
.card-image-mark {
    transform: scale(1.5);
    margin-right: 20px;
}
.card-image-george {
    transform: scale(1.1);
    margin-right: 40px;
}
.card-text {
    text-align: center;
}
.card-text h2 {
    font-family: "Hina Mincho", serif;
    font-size: 3rem;
    margin-bottom: 0px;
}
.card-text h3 {
    font-family: "Hina Mincho", serif;
    font-size: 2rem;
    margin-top: 0;
}
.card-text p {
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0 10px;
}
#about-section button {
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.about-footer {
    margin-top: 50px;
    z-index: 2;
}
.about-footer a {
    text-decoration: none;
    color: tomato;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.about-footer i {
    margin-left: 5px;
    transition: margin 0.15s;
}
.about-footer a:hover {
    margin-left: 20px;
}

#about-section button:hover {
    transform: scale(1.05);
}
.about-animated-scissor img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 120px;
    transform: scale(1.4);
}
.about-animated-dotted-line-1 img {
    width: 1000px;
    height: 1000px;
    position: absolute;
    right: 210px;
    top: 40px;
    z-index: 1;
}
.about-animated-dotted-line-2 img {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: -300px;
    top: 100px;
    z-index: 1;
}
.about-animated-tool img:hover {
    transform: scale(1.5);
}
/*--- ABOUT SECTION ENDS HERE ---*/

/*---- about section MEDIA query STARTS here ----*/

@media screen and (max-width:800px) {
    
    #about-section {
        width: 100%;
        height: auto;
    }
    .super-card-container {
        display: block;
        z-index: 2;
    }
    .card-container {
        width: 300px;
        height: auto;
        padding-bottom: 5px;
    }
    .card-image {
        width: 350px;
        height: 50vh;
    }

}


/*---- about section MEDIA query ENDS here ----*/

/*--- Footer-section STARTS HERE ---*/
footer {
    width: 100%;
    height: 25%;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}
.footer-logo {
    width: 40%;
}
.footer-logo img {
    width: 300px;
    height: 280px;
    margin-left: 200px;
}
.footer-nav {
    width: 20%;
    z-index: 2;
}
.footer-nav h2,
.footer-contact h2,
.footer-social h2 {
    font-size: 2.2rem;
    padding-left: 40px;
    padding-top: 20px;
}
.footer-nav ul a,
.footer-contact ul a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 2.1rem;
    margin-bottom: 10px;
    text-align: left;
    list-style: none;
}
.footer-contact {
    width: 20%;
}
.footer-social {
    width: 20%;
}
.footer-social ul a {
    text-decoration: none;
    font-size: 4rem;
    margin: 10px;
    color: black;
}
.social-1,
.social-2 {
    margin-bottom: 15px;
}
footer a:hover {
    color: tomato;
}
footer hr {
    background-color: tomato;
    border-radius: 10px;
    border: none;
    height: 6px;
    margin-left: -30px;
    margin-right: 300px;
    margin-top: 5px;
}
/*--- Footer-section MEDIA QUERY STARTS HERE ---*/

@media screen and (max-width: 800px) {

    #contact-section{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        
        
        
    }
    #contact-section h2{
        font-size: 12px;
    }
    #contact-section a{
        font-size: 15px;
    }
    .footer-logo {
        display: none;
    }
    #contact-section ul{
     padding-left: 50%;
    }
}

/*--- Footer-section MEDIA QUERY ENDS HERE ---*/

/*----OurServices-Section*/
#services-section {
    width: 100%;
    padding: 70px 0px;
}
.services-text {
    text-align: center;
    padding-bottom: 70px;
}
.services-text p {
    margin: auto;
    font-size: 2rem;
    color: tomato;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.services-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(tomato, white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.services-text h1 {
    font-size: 5rem;
}
.services-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.services {
    flex-basis: 50%;
}
.services-img {
    flex-basis: 50%;
    margin: auto;
}
.services-img img {
    width: 70%;
}
.services h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: tomato;
}
.services-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.services-icon {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    line-height: 50px;
    border-radius: 8px;
    color: tomato;
    border: 1px solid tomato;
}
.service-text p {
    padding: 0 20px;
    text-align: initial;
}
/*----------*/

/*WhyChooseUs-Section*/
#work-section {
    width: 100%;
    padding: 70px 0;

    background: #d6d3d3;
}
.services-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-services {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-services img {
    width: 100%;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.2), tomato);
    opacity: 0;
    transition: 1s;
}
.single-services:hover .overlay {
    opacity: 1;
}
.work-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
#work-section hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.work-desc p {
    font-size: 1.4rem;
}
.single-services:hover .work-desc {
    bottom: 40%;
    opacity: 1;
}
/*----------*/
/*KEYFRAMES*/
@keyframes straight-razor-shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes homepage-typing {
    0% {
        width: 0ch;
        border-right: 4px solid white;
    }
    99% {
        width: 14ch;
        border-right: 4px solid white;
    }
    100% {
        border: 0px;
    }
}
/*----------*/
/*-------burger menu media query här-----*/
@media screen and (max-width: 800px){
    .overlay-text h1 {
        font-size: 45px;
    }
    .overlay-text a{
        font-size: 18px;
    }
    .nav-bar{
        
        display: none;
    }
    .nav-bar2{
        
        display: flex;
        margin-top:10px;
        z-index: 3;
    }
    .nav-links ul{
        width: 50%;
        background: linear-gradient(90deg, rgba(228,158,74,0.5) 34%, rgba(183,168,114,0.5) 67%);
        position:absolute;
        top: 75px;
        right: 0px;
        z-index: 2;
    }
    #menuList{
        padding: 0;
    }
    .nav-links ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .nav-links ul li a{
        color: white;
        font-size: 20px;
        font-family: "Hina Mincho", serif;
    }
    .menu-icon{
        display: block;}
 
}
/*-------burger menu media query här---slut--*/