@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif, Helvetica,
        sans-serif;
}
/*HOMEPAGE*/
.nav-bar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
    margin-top: 30px;
}
.nav-bar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.nav-links1 a,
.nav-links2 a {
    text-decoration: none;
    color: tomato;
    margin: 0 10px;
    font-size: 1.2em;
    margin-left: 60px;
    margin-right: 60px;
    font-weight: bold;
}
.nav-links1 a:hover,
.nav-links2 a:hover {
    border-bottom: 2px solid white;
}
#home-section {
    position: relative;
    width: 100%;
}
#home-section video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7px);
}
.overlay-text h1 {
    font-size: 80px;
    color: white;
    font-family: "Hina Mincho", serif;
    padding-bottom: 150px;
}
.overlay-text a {
    border: 2px solid tomato;
    text-decoration: none;
    color: tomato;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.overlay-text a:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}
/*-------*/

/*ABOUT US*/
#about-section {
    width: 100%;
    height: 100vh;
}
.super-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
}
.card-container {
    border: 1px solid black;
    width: 16vw;
    height: 60vh;
    margin: 0 32px;
    border-radius: 5px;
    transition: 1s;
}
.card-container:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.card,
.card img {
    width: 16vw;
    height: 30vh;
    border-radius: 5px;
}
.card img {
    width: 99.5%;
    height: 100%;
    object-fit: cover;
}
.text {
    text-align: center;
}
.text h2 {
    font-size: 35spx;
    margin-bottom: 5px;
}
.text h3 {
    font-size: 15px;
    margin-top: 0;
}
.text p {
    font-size: 15px;
    margin-top: 0;
    padding: 0 10px;
}
button {
    border: 1px solid black;
    background-color: white;
    padding: 15px 20px;
}
/*-------*/

/*----FEATURES SEKTION HÄR*/
#services-section {
    width: 100%;
    padding: 70px 0px;
}
.services-text {
    text-align: center;
    padding-bottom: 70px;
}
.services-text p {
    margin: auto;
    font-size: 20px;
    color: tomato;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.services-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(tomato, white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.services-text h1 {
    font-size: 50px;
}
.services-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.services {
    flex-basis: 50%;
}
.services-img {
    flex-basis: 50%;
    margin: auto;
}
.services-img img {
    width: 70%;
}
.services h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: tomato;
}
.services-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.services-icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: tomato;
    border: 1px solid tomato;
}
.service-text p {
    padding: 0 20px;
    text-align: initial;
}
/*----work we offer*/

#work-section {
    width: 100%;
    padding: 70px 0;

    background: #d6d3d3;
}
.services-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-services {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-services img {
    width: 100%;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.2), tomato);
    opacity: 0;
    transition: 1s;
}
.single-services:hover .overlay {
    opacity: 1;
}
.work-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.work-desc p {
    font-size: 14px;
}
.single-services:hover .work-desc {
    bottom: 40%;
    opacity: 1;
}
/*Footer-section*/
footer {
    width: 100%;
    height: 25%;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}
.footer-logo {
    width: 40%;
}
.footer-logo img {
    width: 300px;
    height: 280px;
    margin-left: 200px;
}
.footer-nav {
    width: 20%;
}
.footer-nav h2,
.footer-contact h2,
.footer-social h2 {
    padding-left: 40px;
    padding-top: 20px;
}
.footer-nav ul a,
.footer-contact ul a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: left;
    list-style: none;
}
.footer-contact {
    width: 20%;
}
.footer-social {
    width: 20%;
}
.footer-social ul a {
    text-decoration: none;
    font-size: 2.5em;
    margin: 10px;
    color: black;
}
.social-1,
.social-2 {
    margin-bottom: 15px;
}
footer a:hover {
    color: tomato;
}
